#nav-right{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
}
/* 菜单栏居中 */

#blog-info a:hover {
    background: var(--icat-blue);
    transition: background .3s;
    border-radius: 8px;
}
#blog-info a:hover .site-name {
    color: var(--icat-blue) !important;
    position: relative;
    text-shadow: 0 0 transparent;
}
#blog-info a:hover .site-name:after {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    content: "\e03a";
    font-family: "iconfont" !important;
    font-size: 22px;
    line-height: 1;
    color: var(--icat-white);
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    #blog-info a:hover {
        background: 0;
        transition: unset;
        border-radius: 0;
    }
    #blog-info a:hover .site-name {
        color: var(--icat-blue) !important;
        position: relative;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    }
    #blog-info a:hover .site-name:after {
        display: none;
    }
}
/* 主页按钮 */

#nav.show {
    display: flex;
    justify-content: center;
}
#nav .site-page {
    padding-bottom: 14px;
}
#page-header.not-top-img #nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--icat-secondbg);
}
#nav-group {
    width: 1400px;
    display: flex;
    align-items: center;
    padding: 0 0.6rem;
    margin-left: auto;
    margin-right: auto;
}
/* 顶部栏宽度定义 */

#nav .menus_items .menus_item .menus_item_child, #nav .menus_items .icat_menus_item .menus_item_child {
    margin-top: 14px;
    border: 1px solid var(--icat-secondbg);
}
#nav .menus_items .menus_item .menus_item_child li a, #nav .menus_items .icat_menus_item .menus_item_child li a {
    padding: 8px 34px;
    text-align: center;
}
#travellings {
    padding: 0 14px 0 0;
}

/* PC菜单栏美化 */